@import url(global.css);
@import url(nav.css);
@import url(header.css);
@import url(galeria.css);
@import url(footer.css);

body {
    background-color: var(--background-color);
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
    min-width: 940px;
}