.perfil {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil header {
    display: flex;
    align-items: center;
    gap: 32px;
}

.perfil header img[src="assets/icons/Profile-pic.svg"] {
    height: 176px;
    width: 176px;
}

.perfil header div {
    width: 384px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    & h1 {
        font: var(--text-lg);
        color: var(--text-color-primary);
    }

    & p {
        font: var(--text-md);
        color: var(--text-color-secondary);
    }
}

#list-perfil {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    width: 280px;

    & li {
        display: flex;
        gap: 8px;
    }
}